<div class="container text-center">
  <p class="h1 pb-2">Welcome</p>
  <p class="h4">
    Thank you for coming to my page!
  </p>
  <div class="row text-start pb-5 mt-2 pt-2 align-items-center">
    <div class="col text-center">
      <img class="img-thumbnail my-5" src="assets/images/InductionCeremony.jpg" alt="">
    </div>
    <div class="col-6 text-end text-sm-center ">
      <p class="h4">Links:</p>
        <div class="col mt-3">
          <a href="https://www.linkedin.com/in/franklinnevesfilho" target="_blank"><img class="rounded" style="width: 20%" src="assets/images/linkedIn.svg" alt="LinkedIn"></a>
        </div>
        <div class="col">
          <a href="https://github.com/franklinnevesfilho" target="_blank"><img class="rounded" style="width: 20%" src="assets/images/github.svg" alt="GitHub"></a>
        </div>
    </div>
  </div>
</div>
