<div class="container text-center">
  <p class="h1 pb-2">Welcome</p>
  <p class="h4">
    Thank you for coming to my page!
  </p>
  <img class="img-thumbnail my-5" src="assets/images/InductionCeremony.jpg" alt="">
  <div class="row text-start pb-5 mt-2 pt-2 justify-content-evenly">
    <div class="col">
      <p class="h4 ">
        I'm an aspiring software engineer currently studying Computer Science at <span>FIU</span>
      </p>
      <hr class="divider">
      <p class="h5">
        In this website you'll find the navigation at the top or feel free to scroll through the sections below.
      </p>
    </div>
    <div class="col text-sm-center">
      <p class="h4">Links:</p>
      <div class="row mt-3">
        <a href="https://www.linkedin.com/in/franklinnevesfilho" target="_blank"><img class="rounded" style="width: 15%" src="assets/images/linkedIn.svg" alt="LinkedIn"></a>
      </div>
      <div class="row mt-4">
        <a href="https://github.com/franklinnevesfilho" target="_blank"><img class="rounded" style="width: 15%" src="assets/images/github.svg" alt="GitHub"></a>
      </div>
    </div>
  </div>
</div>
