<div class="container">
  <div class="row mb-4 text-center align-items-center">
    <div class="col">
      <p class="h1 border-bottom pb-1">About Me</p>
      <img class="img-thumbnail mt-3 pic" src="assets/images/InductionCeremony.jpg" alt="">
    </div>
  </div>
  <div class="row text-center justify-content-center">
    <div class="col-md-4 col-lg-3 ms-auto">
      <img class="img-thumbnail rounded-circle pic" src="assets/images/graduation.jpg" alt="Induction Ceremony">
    </div>
    <div class="col-sm-6 col-lg-5 align-self-center me-auto">
      <p class="lead">My name is Franklin Neves Filho</p>
      <p class="lead"> I'm currently studying Computer Science at <span class="school-name">FIU</span></p>
    </div>
    <div class="col-md-6 col-lg-5">
      <p class="lead">I graduated from Ronald Reagan Senior Highschool in 2021</p>
      <p class="ms-5 side-comment">Top 20% in my class!</p>
      <p class="lead text-start">Earning:</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item lead fw-bold">Highschool degree</li>
        <li class="list-group-item lead fw-bold">AICE Diploma</li>
        <li class="list-group-item lead fw-bold">Associates Degree in Computer Science</li>
      </ul>
    </div>
    <div class="col-md-4 col-lg-3 align-self-center">
      <img class="img-thumbnail rounded-1 pic" src="assets/images/gradPic.jpeg">
    </div>
  </div>
</div>
